.App {
  text-align: center;
  background: radial-gradient(circle, #c3e8ff 0%, #5486b4 100%, #171947 100%);
}
.App .render-container {
  display: flex;
}
.App .render-container canvas {
  height: 100vh !important;
  width: 100vw !important;
}
