html,
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --telemetryBackground: rgba(10, 99, 164, 0.85);
  --telemetryBackgroundOpaque: rgb(55, 134, 196);
  --telemetryBackgroundDark: rgb(4, 99, 166, 0.8);
  --telemetryBackgroundDisabled: rgba(10, 99, 164, 0.25);
}
