.Mission {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.Mission .current {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  transform: skew(30deg);
  padding: 6px 30px 6px 35px;
  margin-left: -20px;
  cursor: pointer;
}

.Mission .current h1 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transform: skew(-30deg);
}
.Mission .current .change {
  font-size: 10px;
  transform: skew(-30deg);
  width: 50px;
  line-height: 10px;
  margin-right: 15px;
  color: rgba(255, 255, 255, 0.5);
}
.Mission .current:hover .change {
  color: white;
}

.Mission .selector {
  height: 0;
  transition: 400ms height;
  background: black;
  width: 400px;
  text-align: left;
  overflow-y: scroll;
}
.Mission.selector-open .selector {
  height: calc(100vh - 150px);
}

.Mission .selector h2 {
  font-weight: bold;
  padding: 10px 14px 10px 10px;
  display: flex;
  align-items: center;
}
.Mission .selector h2:after {
  content: '';
  height: 1px;
  width: 100%;
  margin-left: 10px;
  background: white;
  display: block;
}
.Mission .selector ul {
  padding: 0 5px;
}
.Mission .selector li {
  padding: 3px;
  cursor: pointer;
}
.Mission .selector li.selected {
  background: var(--telemetryBackgroundDark);
}
.Mission .selector li:hover {
  background: var(--telemetryBackgroundOpaque);
}
.Mission .selector li span {
  font-weight: normal;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  width: 70px;
  text-align: center;
  margin-right: 10px;
  font-size: 14px;
}
.Mission .selector li {
  font-weight: bold;
}

.Mission .progress {
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}
.Mission .progress .bar {
  border-radius: 2px;
  width: 94%;
  height: 5px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.4);
  background: linear-gradient(#4a494b, #515051);
  position: relative;
}

.Mission .progress .bar-complete {
  transition: width 1s linear;
  border-radius: 2px;
  position: absolute;
  height: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: linear-gradient(#a0a1a2, #b1b2b3);
  max-width: 100%;
}

.Mission .bar .phase {
  position: absolute;
  top: -2px;
  content: ' ';
  display: block;
  height: 9px;
  width: 9px;
  margin-left: -4px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.4);
  background: linear-gradient(#a0a1a2, #b1b2b3);
}
.Mission .bar .phase.complete {
  background: linear-gradient(#3685c3, #16528e);
}

.Mission .bar .phase.bottom:after,
.Mission .bar .phase.top:after {
  content: attr(phase);
  text-transform: uppercase;
  position: absolute;
  width: 200px;
  margin-left: -100px;
  font-size: 11px;
}

.Mission .bar .phase.bottom:before,
.Mission .bar .phase.top:before {
  content: ' ';
  position: absolute;
  width: 1px;
  height: 4px;
  background: white;
}
.Mission .bar .phase.top:before {
  bottom: 9px;
  left: 4px;
}
.Mission .bar .phase.bottom:before {
  top: 9px;
  left: 4px;
}

.Mission .bar .phase.top:after {
  bottom: 15px;
}
.Mission .bar .phase.bottom:after {
  top: 15px;
}
